#image-container {
  position: relative;
  container-type: inline-size;
  font-family: Poppins, Montserrat, sans-serif;
}
#image-container img {
  width: 100%;
  height: 100%;
}
#text-area-1 {
  position: absolute;
  width: 25.03%;
  height: 29.91%;
  top: 163.32%;
  left: 77.39%;
}
#text-area-1-region-1 {
  font-size: 3.93cqw;
  text-align: start;
  color: #ffffff;
}
#text-area-2 {
  position: absolute;
  width: 12.5%;
  height: 3.6%;
  top: 5.54%;
  left: 5.63%;
}
#text-area-2-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 0.93cqw;
  text-align: start;
  color: #ffffff;
}
#text-area-3 {
  position: absolute;
  width: 7.08%;
  height: 2.63%;
  top: 96.29%;
  left: 4.07%;
}
#text-area-3-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.24cqw;
  text-align: start;
  color: #ff3131;
  font-weight: medium;
}
#text-area-4 {
  position: absolute;
  width: 11.63%;
  height: 2.24%;
  top: 90.23%;
  left: 5.06%;
}
#text-area-4-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.06cqw;
  text-align: justify;
  color: #ffffff;
  font-weight: bold;
}
#text-area-5 {
  position: absolute;
  width: 2.41%;
  height: 1.54%;
  top: 92.91%;
  left: 6.59%;
}
#text-area-5-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 0.76cqw;
  text-align: justify;
  color: #ffffff;
  font-weight: medium;
}
#text-area-6 {
  position: absolute;
  width: 9.7%;
  height: 2.29%;
  top: 12.76%;
  left: 86.94%;
}
#text-area-6-region-1 {
  font-size: 1.11cqw;
  text-align: center;
  color: #ececec;
  font-weight: medium;
}
#text-area-7 {
  position: absolute;
  width: 12.51%;
  height: 2.18%;
  top: 22.34%;
  left: 23.13%;
}
#text-area-7-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.04cqw;
  text-align: start;
  color: #8a8a8a;
}
#text-area-8 {
  position: absolute;
  width: 12.23%;
  height: 3.97%;
  top: 2.59%;
  left: 18.8%;
}
#text-area-8-region-1 {
  font-family: Bricolage Grotesque, Inter, sans-serif;
  font-size: 1.86cqw;
  text-align: start;
  color: #ffffff;
  font-weight: bold;
}
#text-area-9 {
  position: absolute;
  width: 30.18%;
  height: 5.07%;
  top: 11.11%;
  left: 18.8%;
}
#text-area-9-region-1 {
  font-family: Bricolage Grotesque, Inter, sans-serif;
  font-size: 2.42cqw;
  text-align: start;
  color: #1800ad;
  font-weight: bold;
}
#text-area-10 {
  position: absolute;
  width: 14.6%;
  height: 3.64%;
  top: 34.97%;
  left: 28.22%;
}
#text-area-10-region-1 {
  font-size: 1.74cqw;
  text-align: start;
  color: #000000;
  font-weight: bold;
}
#text-area-11 {
  position: absolute;
  width: 11.52%;
  height: 2.29%;
  top: 38.97%;
  left: 28.4%;
}
#text-area-11-region-1 {
  font-size: 1.11cqw;
  text-align: start;
  color: #000000;
  font-weight: medium;
}
#text-area-12 {
  position: absolute;
  width: 7.16%;
  height: 2.29%;
  top: 42.76%;
  left: 28.94%;
}
#text-area-12-region-1 {
  font-size: 1.11cqw;
  text-align: center;
  color: #ececec;
  font-weight: medium;
}
#text-area-13 {
  position: absolute;
  width: 14.6%;
  height: 3.64%;
  top: 34.97%;
  left: 54.77%;
}
#text-area-13-region-1 {
  font-size: 1.74cqw;
  text-align: start;
  color: #000000;
  font-weight: bold;
}
#text-area-14 {
  position: absolute;
  width: 11.52%;
  height: 2.29%;
  top: 38.97%;
  left: 54.96%;
}
#text-area-14-region-1 {
  font-size: 1.11cqw;
  text-align: start;
  color: #000000;
  font-weight: medium;
}
#text-area-15 {
  position: absolute;
  width: 7.16%;
  height: 2.29%;
  top: 42.76%;
  left: 55.5%;
}
#text-area-15-region-1 {
  font-size: 1.11cqw;
  text-align: center;
  color: #ececec;
  font-weight: medium;
}
#text-area-16 {
  position: absolute;
  width: 14.6%;
  height: 3.64%;
  top: 34.97%;
  left: 81.34%;
}
#text-area-16-region-1 {
  font-size: 1.74cqw;
  text-align: start;
  color: #000000;
  font-weight: bold;
}
#text-area-17 {
  position: absolute;
  width: 11.52%;
  height: 2.29%;
  top: 38.97%;
  left: 81.52%;
}
#text-area-17-region-1 {
  font-size: 1.11cqw;
  text-align: start;
  color: #000000;
  font-weight: medium;
}
#text-area-18 {
  position: absolute;
  width: 7.16%;
  height: 2.29%;
  top: 42.76%;
  left: 82.06%;
}
#text-area-18-region-1 {
  font-size: 1.11cqw;
  text-align: center;
  color: #ececec;
  font-weight: medium;
}
#text-area-19 {
  position: absolute;
  width: 5.52%;
  height: 2.29%;
  top: 22.35%;
  left: 87.42%;
}
#text-area-19-region-1 {
  font-size: 1.11cqw;
  text-align: start;
  color: #000000;
  font-weight: medium;
}
#text-area-20 {
  position: absolute;
  width: 9.14%;
  height: 3.01%;
  top: 27.73%;
  left: 4.97%;
}
#text-area-20-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: semibold;
}
#text-area-21 {
  position: absolute;
  width: 8.12%;
  height: 3.01%;
  top: 64.38%;
  left: 4.82%;
}
#text-area-21-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: medium;
}
#text-area-22 {
  position: absolute;
  width: 9.14%;
  height: 3.01%;
  top: 49.27%;
  left: 5.48%;
}
#text-area-22-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #ffffff;
  font-weight: medium;
}
#text-area-23 {
  position: absolute;
  width: 8.12%;
  height: 3.01%;
  top: 42.09%;
  left: 5.03%;
}
#text-area-23-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: medium;
}
#text-area-24 {
  position: absolute;
  width: 9.56%;
  height: 3.01%;
  top: 34.91%;
  left: 4.83%;
}
#text-area-24-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: medium;
}
#text-area-25 {
  position: absolute;
  width: 9.14%;
  height: 3.01%;
  top: 57%;
  left: 5.11%;
}
#text-area-25-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: medium;
}
