#image-container {
  position: relative;
  container-type: inline-size;
  font-family: Inter, Plus Jakarta Sans, sans-serif;
}
#image-container img {
  width: 100%;
  height: 100%;
}
#text-area-1 {
  position: absolute;
  width: 8.53%;
  height: 1.66%;
  top: 86.73%;
  left: 53.87%;
}
#text-area-1-region-1 {
  font-size: 0.83cqw;
  text-align: center;
  color: #fefefe;
}
#text-area-2 {
  position: absolute;
  width: 8.53%;
  height: 1.66%;
  top: 87.04%;
  left: 63.9%;
}
#text-area-2-region-1 {
  font-size: 0.83cqw;
  text-align: center;
  color: #d5fcff;
}
#text-area-3 {
  position: absolute;
  width: 16.92%;
  height: 2.85%;
  top: 14.69%;
  left: 37.17%;
}
#text-area-3-region-1 {
  font-size: 1.37cqw;
  text-align: start;
  color: #fefefe;
  font-weight: bold;
}
#text-area-4 {
  position: absolute;
  width: 13.92%;
  height: 2.13%;
  top: 24.28%;
  left: 33.65%;
}
#text-area-4-region-1 {
  font-size: 1.04cqw;
  text-align: start;
  color: #28279a;
  font-weight: bold;
}
#text-area-5 {
  position: absolute;
  width: 13.92%;
  height: 2.13%;
  top: 33.85%;
  left: 33.65%;
}
#text-area-5-region-1 {
  font-size: 1.04cqw;
  text-align: start;
  color: #28279a;
  font-weight: bold;
}
#text-area-6 {
  position: absolute;
  width: 13.92%;
  height: 2.13%;
  top: 44.43%;
  left: 33.65%;
}
#text-area-6-region-1 {
  font-size: 1.04cqw;
  text-align: start;
  color: #28279a;
  font-weight: bold;
}
#text-area-7 {
  position: absolute;
  width: 13.92%;
  height: 2.13%;
  top: 44.59%;
  left: 48.49%;
}
#text-area-7-region-1 {
  font-size: 1.04cqw;
  text-align: start;
  color: #28279a;
  font-weight: bold;
}
#text-area-8 {
  position: absolute;
  width: 13.92%;
  height: 2.13%;
  top: 53.97%;
  left: 33.65%;
}
#text-area-8-region-1 {
  font-size: 1.04cqw;
  text-align: start;
  color: #28279a;
  font-weight: bold;
}
