#image-container {
  position: relative;
  container-type: inline-size;
  font-family: Bricolage Grotesque, Inter, sans-serif;
}
#image-container img {
  width: 100%;
  height: 100%;
}
#text-area-1 {
  position: absolute;
  width: 2.79%;
  height: 1.38%;
  top: 42.79%;
  left: 23.45%;
}
#text-area-1-region-1 {
  font-size: 0.68cqw;
  text-align: start;
  color: #ffffff;
  font-weight: medium;
}
#text-area-2 {
  position: absolute;
  width: 4.73%;
  height: 1.82%;
  top: 29.59%;
  left: 23.53%;
}
#text-area-2-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-3 {
  position: absolute;
  width: 7.08%;
  height: 2.63%;
  top: 95.75%;
  left: 7.24%;
}
#text-area-3-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.24cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: medium;
}
#text-area-4 {
  position: absolute;
  width: 9.14%;
  height: 3.01%;
  top: 24.85%;
  left: 5.62%;
}
#text-area-4-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: semibold;
}
#text-area-5 {
  position: absolute;
  width: 8.12%;
  height: 3.01%;
  top: 63.02%;
  left: 5.07%;
}
#text-area-5-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #ffffff;
  font-weight: medium;
}
#text-area-6 {
  position: absolute;
  width: 9.14%;
  height: 3.01%;
  top: 47.92%;
  left: 5.18%;
}
#text-area-6-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: medium;
}
#text-area-7 {
  position: absolute;
  width: 8.12%;
  height: 3.01%;
  top: 40.74%;
  left: 5.28%;
}
#text-area-7-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: medium;
}
#text-area-8 {
  position: absolute;
  width: 9.56%;
  height: 3.01%;
  top: 33.56%;
  left: 5.08%;
}
#text-area-8-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: medium;
}
#text-area-9 {
  position: absolute;
  width: 7.08%;
  height: 2.63%;
  top: 96.29%;
  left: 4.07%;
}
#text-area-9-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.24cqw;
  text-align: start;
  color: #ff3131;
  font-weight: medium;
}
#text-area-10 {
  position: absolute;
  width: 9.14%;
  height: 3.01%;
  top: 55.65%;
  left: 5.36%;
}
#text-area-10-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #8a8a8a;
  font-weight: medium;
}
#text-area-11 {
  position: absolute;
  width: 38.69%;
  height: 7.62%;
  top: 4.4%;
  left: 20.47%;
}
#text-area-11-region-1 {
  font-family: Playfair Display, Cormorant Garamond, serif;
  font-size: 3.58cqw;
  text-align: start;
  color: #000000;
}
#text-area-12 {
  position: absolute;
  width: 38.51%;
  height: 3.25%;
  top: 12.6%;
  left: 21.49%;
}
#text-area-12-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 1.56cqw;
  text-align: start;
  color: #282828;
}
#text-area-13 {
  position: absolute;
  width: 7.56%;
  height: 2.18%;
  top: 7.06%;
  left: 71.19%;
}
#text-area-13-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.04cqw;
  text-align: start;
  color: #8a8a8a;
}
#text-area-14 {
  position: absolute;
  width: 10.77%;
  height: 3.01%;
  top: 19.97%;
  left: 27.24%;
}
#text-area-14-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #282828;
  font-weight: bold;
}
#text-area-15 {
  position: absolute;
  width: 22.92%;
  height: 1.82%;
  top: 22.95%;
  left: 27.24%;
}
#text-area-15-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-16 {
  position: absolute;
  width: 9.38%;
  height: 1.82%;
  top: 29.48%;
  left: 40.73%;
}
#text-area-16-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: end;
  color: #282828;
}
#text-area-17 {
  position: absolute;
  width: 6.1%;
  height: 1.82%;
  top: 35.44%;
  left: 23.53%;
}
#text-area-17-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-18 {
  position: absolute;
  width: 9.38%;
  height: 1.82%;
  top: 35.44%;
  left: 40.66%;
}
#text-area-18-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: end;
  color: #282828;
}
#text-area-19 {
  position: absolute;
  width: 6.1%;
  height: 1.82%;
  top: 41.29%;
  left: 23.53%;
}
#text-area-19-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-20 {
  position: absolute;
  width: 6.73%;
  height: 1.82%;
  top: 41.35%;
  left: 43.42%;
}
#text-area-20-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: end;
  color: #282828;
}
#text-area-21 {
  position: absolute;
  width: 6.1%;
  height: 1.82%;
  top: 47.1%;
  left: 23.53%;
}
#text-area-21-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-22 {
  position: absolute;
  width: 7.84%;
  height: 1.82%;
  top: 52.69%;
  left: 23.53%;
}
#text-area-22-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-23 {
  position: absolute;
  width: 11.63%;
  height: 2.24%;
  top: 90.23%;
  left: 5.06%;
}
#text-area-23-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 1.06cqw;
  text-align: justify;
  color: #ffffff;
  font-weight: bold;
}
#text-area-24 {
  position: absolute;
  width: 2.41%;
  height: 1.54%;
  top: 92.91%;
  left: 6.59%;
}
#text-area-24-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 0.76cqw;
  text-align: justify;
  color: #ffffff;
  font-weight: medium;
}
#text-area-25 {
  position: absolute;
  width: 12.5%;
  height: 3.6%;
  top: 6.4%;
  left: 5.06%;
}
#text-area-25-region-1 {
  font-family: Quicksand, Nunito, sans-serif;
  font-size: 0.93cqw;
  text-align: start;
  color: #ffffff;
}
#text-area-26 {
  position: absolute;
  width: 15.08%;
  height: 3.01%;
  top: 20.04%;
  left: 66.19%;
}
#text-area-26-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #282828;
  font-weight: bold;
}
#text-area-27 {
  position: absolute;
  width: 22.92%;
  height: 1.82%;
  top: 23.03%;
  left: 66.19%;
}
#text-area-27-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #000000;
}
#text-area-28 {
  position: absolute;
  width: 11.21%;
  height: 1.82%;
  top: 29.71%;
  left: 62.52%;
}
#text-area-28-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
  font-weight: bold;
}
#text-area-29 {
  position: absolute;
  width: 22.92%;
  height: 1.34%;
  top: 31.64%;
  left: 62.52%;
}
#text-area-29-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.66cqw;
  text-align: start;
  color: #8a8a8a;
}
#text-area-30 {
  position: absolute;
  width: 10.22%;
  height: 1.82%;
  top: 36.64%;
  left: 62.52%;
}
#text-area-30-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
  font-weight: bold;
}
#text-area-31 {
  position: absolute;
  width: 22.92%;
  height: 1.34%;
  top: 38.56%;
  left: 62.52%;
}
#text-area-31-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.66cqw;
  text-align: start;
  color: #8a8a8a;
}
#text-area-32 {
  position: absolute;
  width: 8.61%;
  height: 1.82%;
  top: 43.7%;
  left: 62.52%;
}
#text-area-32-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
  font-weight: bold;
}
#text-area-33 {
  position: absolute;
  width: 22.92%;
  height: 1.34%;
  top: 45.62%;
  left: 62.52%;
}
#text-area-33-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.66cqw;
  text-align: start;
  color: #8a8a8a;
}
#text-area-34 {
  position: absolute;
  width: 10.69%;
  height: 1.82%;
  top: 50.91%;
  left: 62.52%;
}
#text-area-34-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #ff3131;
  font-weight: bold;
}
#text-area-35 {
  position: absolute;
  width: 22.92%;
  height: 1.34%;
  top: 52.84%;
  left: 62.52%;
}
#text-area-35-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.66cqw;
  text-align: start;
  color: #8a8a8a;
}
#text-area-36 {
  position: absolute;
  width: 2.79%;
  height: 1.38%;
  top: 86.74%;
  left: 22.97%;
}
#text-area-36-region-1 {
  font-size: 0.68cqw;
  text-align: start;
  color: #ffffff;
  font-weight: medium;
}
#text-area-37 {
  position: absolute;
  width: 10.77%;
  height: 3.01%;
  top: 64.18%;
  left: 27.2%;
}
#text-area-37-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 1.42cqw;
  text-align: start;
  color: #282828;
  font-weight: bold;
}
#text-area-38 {
  position: absolute;
  width: 22.92%;
  height: 1.82%;
  top: 67.17%;
  left: 27.2%;
}
#text-area-38-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-39 {
  position: absolute;
  width: 4.66%;
  height: 1.82%;
  top: 73.54%;
  left: 23.52%;
}
#text-area-39-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-40 {
  position: absolute;
  width: 9.52%;
  height: 1.82%;
  top: 73.42%;
  left: 40.52%;
}
#text-area-40-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: end;
  color: #282828;
}
#text-area-41 {
  position: absolute;
  width: 6.01%;
  height: 1.82%;
  top: 79.39%;
  left: 23.52%;
}
#text-area-41-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-42 {
  position: absolute;
  width: 9.52%;
  height: 1.82%;
  top: 79.39%;
  left: 40.45%;
}
#text-area-42-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: end;
  color: #282828;
}
#text-area-43 {
  position: absolute;
  width: 6.01%;
  height: 1.82%;
  top: 85.24%;
  left: 23.52%;
}
#text-area-43-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-44 {
  position: absolute;
  width: 7.67%;
  height: 1.82%;
  top: 85.29%;
  left: 42.41%;
}
#text-area-44-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: end;
  color: #282828;
}
#text-area-45 {
  position: absolute;
  width: 6.01%;
  height: 1.82%;
  top: 91.04%;
  left: 23.52%;
}
#text-area-45-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: start;
  color: #282828;
}
#text-area-46 {
  position: absolute;
  width: 6.83%;
  height: 1.82%;
  top: 91.04%;
  left: 43.25%;
}
#text-area-46-region-1 {
  font-family: Poppins, Montserrat, sans-serif;
  font-size: 0.87cqw;
  text-align: end;
  color: #282828;
}
